* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}
.App {
  width: 100vw;
  height: 100vh;
  background: rgb(10, 102, 194);
  background: linear-gradient(
    234deg,
    rgba(10, 102, 194, 1) 0%,
    rgba(50, 9, 121, 1) 100%
  );
}
.search-box {
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box button {
  padding: 5px 20px;
  border: none;
  width: 15%;
}
.search-box .location {
  border-radius: 0 5px 5px 0;
}


.search-box input {
  padding: 5px 20px;
  border: none;
  width: 70%;
  border-radius: 5px 0 0 5px;
}

.search-box input:active,
input:focus {
  outline: none;
}
