* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
}
body {
  background: rgb(10, 102, 194);
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.apptitle {
  margin-top: 20px;
  color: #fff;
}
.search-box {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box .location {
  background-color: #fff;
  border: none;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border-left: 1px solid black;
}

.search-box input {
  height: 100%;
  padding: 5px 20px;
  border: none;
  width: 90%;
  border-radius: 5px 0 0 5px;
}

.search-box input:active,
input:focus {
  outline: none;
}
.weather-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}
.weather-box .icon {
  width: 150px;
  height: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-box .icon img {
  transform: scale(2);
}
.weather-box .temperature {
  font-size: 60px;
}

.temperatureRange {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}
.weather-box .temperatureRange .feelslike,
.high,
.low {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather-box .temperatureRange p {
  margin-bottom: 2px;
}
.weather-box .climate {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
}

.search-results {
  width: 100%;
  background-color: #ffffff92;
  position: absolute;
  right: 0;
  left: 0;
  border-radius: 5px;
}
.search-results > * {
  width: 100%;
  padding: 5px 30px;
  cursor: pointer;
}

/* WeatherForcast */

.WeatherForcast {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  overflow-x: auto;
  padding: 10px 0;
}
.hourBox {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  color: #fff;
}

.hourBox p {
  margin: 0;
}
.hourBox img {
  width: 50px;
}

/* additionalInfo */

.additionalInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #fff;
}

.additionalInfo p {
  margin-bottom: 0;
  text-align: center;
  margin: 10px 0;
}
